@charset "UTF-8";

.container{
    background-color: #ccc;
    height: 500px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: unset;
    align-items: initial;
    align-content: flex-start;
}

.item {
    text-align: justify;
    background-color: #333;
    color: #fff;
    padding: 30px;
    margin: 5px;
    height: 30px;

    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 300px;

    flex: 1 1 300px;
}

.article-01 {
    order: 1; 
    align-self: auto; 
    flex-shrink: 3;
}

.article-02 {
    order: 2; 
    align-self: auto; 
}

.article-03 {
    order: 3;
    align-self: auto; 
}
.article-04 { 
    order: 4;
    align-self: auto; 
} 



