        @charset "UTF-8";
        
        @import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&family=Sriracha&display=swap');

        :root{
            --fonte1: Verdana, Geneva, Tahoma, sans-serif;
            --fonte2: "Passion One", sans-serif;
            --fonte3: "Sriracha", cursive ;
        }

        section p{
            margin: 0px;
            padding: 5px;

        }

        body{
            background-color: white;
            margin: 0px;
            min-height: 100vh;
        }

        header{
            padding: 1vmax;
            text-align: center;
            color: white;
            background-color: black;
            font-family: var(--fonte2);
            font-weight: 700;
            font-style: normal;
            font-size: 5vmax;
        }

        header >h1{
            padding: 1vmax;
            text-align: center;
            color: white;
            background-color: black;
            font-family: var(--fonte2);
            font-weight: 700;
            font-style: normal;
            font-size: 10vmax;
            margin: 0px;
        }

        header >p{
            font-family: var(--fonte1);
            font-size: 2vmax;
            margin: 0px;
        }

        p >a{
            text-decoration: none;
            font-family: var(--fonte1);
            font-size: 2vmax;
            font-weight: bold;
            color: white;
        }

        p a:hover{
            text-decoration: underline;
        }

        section{
            font-family: var(--fonte3);
            font-weight: 400;
            font-style: normal;
            font-size: 3vmax;
            line-height: 6vmax;
            margin: 0px;
            padding: 1vmax;
        }

        #imagem1{
            position: relative;
            background: url(pacote-d012/imagens/background001.jpg) no-repeat center center/cover fixed;
            width: 110vw;
            height: 90vh;
            color: white;
            padding: 0px ;
            box-shadow: inset -1px 1px 12px 1px black;
        }

        .estrofe{
            font-family: var(--fonte3);
            font-weight: 400;
            font-style: normal;
            font-size: 3vmax;
            line-height: 6vmax;
            padding: 1vmax;
            margin-left: 25px;
            background-color: rgba(0, 0, 0, 0.459);
            text-shadow: 1px 1px 1px black;
            position: absolute;
            width: 34%;
            height: 84%;
        }

        #imagem2{
            position: relative;
            background: url(pacote-d012/imagens/background002.jpg) no-repeat center center/cover fixed;
            width: 110vw;
            height: 90vh;
            color: white;
            padding: 0px;
            box-shadow: inset -1px 1px 12px 1px black;
        }

        footer p{
            font-size: 2.4vmax;
            font-weight: bold;
            color: white;
            background-color: black;
            padding: 10px;
            text-align: center;
            margin: 0px;
        }

        footer a{
            font-size: 2vmax;
            font-weight: bold;
        }

        footer a:hover{
            text-decoration: underline;
        }
       